@page
@model BrandModel
@using TomTomEcommerce.BackOffice

<h1><b>Brands</b></h1>

<button class="btn btn-success" id="addbrandbutton" style="margin-bottom:15px">Add New Brand</button>


<div id="modaldiv">

</div>

<div id="secretajaxtable">

</div>



@section Scripts{
    <script>

        $(document).ready(function () {

            //List
            $.ajax({
                type: 'GET',
                url: '@Url.Page("/Catalog/Brand", "ListBrand")',
                success: function (data) {
                    $("#secretajaxtable").html(data);
                }
            }); 

            //Add Brand - Post
            $(document).on("click", "#addbrandbuttonmodal", function (e) {
                e.preventDefault();
                var formData = $("#modal_form").serialize();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Page("/Catalog/Brand", "AddBrand")',
                    data: formData,
                    success: function (data) {
                        $("#addbrandviewid").modal("hide");
                        $("#secretajaxtable").html("");
                        $("#secretajaxtable").html(data);
                        toastr["success"]("New Brand Added Successfully!", "Process Success")
                    }
                });
            });

            //Add Brand- Get

            $("#addbrandbutton").click(function () {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Page("/Catalog/Brand", "AddBrand")',
                    success: function (data) {
                        $("#modaldiv").html(data);
                        $("#addbrandviewid").modal("show");
                    }
                });
            });
        });

        //Delete - Post
        $(document).on("click", "#deletebrandonmodal", function (e) {
            debugger;
            var id = $(this).attr("data-id");
            var token = '@HttpContext.GetAntiforgeryToken()';
            data = {};
           // data["__RequestVerificationToken"] = token;
            data["id"] = id;


          //  alert(id);
            $.ajax({
                type: 'POST',
                url: '@Url.Page("/Catalog/Brand", "DeleteBrand")',
                data: { id: id },
                success: function (data) {
                    $("#deletebrandmodal").modal("hide");
                    $("#secretajaxtable").html("");
                    $("#secretajaxtable").html(data);
                    toastr["warning"]("Brand Deleted!", "Process Success")

                },
                error: function myfunction(a,b,c,d,e,f) {

                },
                headers:
                {
                    "RequestVerificationToken": token
                }

            });
        });


    </script>
}