@page
@model ProductModel
@using TomTomEcommerce.BackOffice

<h1><b>Products</b></h1>

<button id="addproductbutton" class="btn btn-success">Add New Product</button>

<div id="modaldiv">

</div>

<div id="secretajaxtable">

</div>

<div id="deletemodalonlistscreen">

</div>


@section Scripts{

    <script>

        $(document).ready(function () {



            //List
            $.ajax({
                type: 'GET',
                url: '@Url.Page("/Catalog/Product", "ListProduct")',
                success: function (data) {
                    $("#secretajaxtable").html(data);
                }
            });

//POST - ADD PRODUCT
            $(document).on("click", "#addproductbuttonmodal", function (e) {
                e.preventDefault();
                var formData = $("#modal_form").serialize();
                alert("postadd");
                $.ajax({
                    type: 'POST',
                    url: '@Url.Page("/Catalog/Product", "AddProduct")',
                    data: formData,
                    success: function (data) {
                        $("#addproductviewid").modal("hide");
                        $("#secretajaxtable").html("");
                        $("#secretajaxtable").html(data);
                        toastr["success"]("New Product Added Successfully!", "Process Success")
                    }
                });
            });


//GET - ADD PRODUCT
            $("#addproductbutton").click(function () {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Page("/Catalog/Product", "AddProduct")',
                    success: function (data) {
                        $("#modaldiv").html(data);
                        $("#addproductviewid").modal("show");
                        //$.validator.unobtrusive.parse($("#modaldiv"));
                        //    debugger;
                    }


                });
            });

//POST - DELETE PRODUCT IMAGE
            $(document).on("click", "#deleteImageButton", function (e) {
                var id = $(this).attr("data-id");
                var token = '@HttpContext.GetAntiforgeryToken()';
                data = {};
                data["id"] = id;
                //alert(id);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Page("/Catalog/Product", "DeleteProductImage")',
                    data: { id: id },
                    success: function (data) {
                        $("#deleteproductimagemodal").modal("hide");
                        $("#listProductImageDivAera").html("");
                        $("#listProductImageDivAera").html(data);
                        toastr["warning"]("Photo Deleted!", "Process Success")

                    },
                    error: function myfunction(a, b, c, d, e, f) {

                    },
                    headers:
                    {
                        "RequestVerificationToken": token
                    }

                });

            });

//GET - DELETE PRODUCT IMAGE
            $(document).on("click", "#deleteImageButtononlist", function (e) {
                e.preventDefault();
                var id = $(this).attr("data-id");
                data = {};
                data["id"] = id;
                //alert(id);
                $.ajax({
                    type: 'get',
                    url: '@Url.Page("/Catalog/Product", "DeleteProductImage")',
                    data: { id: id },
                    success: function (data) {
                        $("#deletemodalonlistscreen").html(data);
                        $("#deleteproductimagemodal").modal("show");
                    }
                });
            });




//POST - DELETE PRODUCT
            $(document).on("click", "#deleteproductonmodal", function (e) {
                var id = $(this).attr("data-id");
                var token = '@HttpContext.GetAntiforgeryToken()';
                data = {};
                data["id"] = id;


                //  alert(id);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Page("/Catalog/Product", "DeleteProduct")',
                    data: { id: id },
                    success: function (data) {
                        $("#deleteproductmodal").modal("hide");
                        $("#secretajaxtable").html("");
                        $("#secretajaxtable").html(data);
                        toastr["warning"]("Product Deleted!", "Process Success")

                    },
                    error: function myfunction(a, b, c, d, e, f) {

                    },
                    headers:
                    {
                        "RequestVerificationToken": token
                    }

                });

            });



        });

    </script>
}