@page
@model ProductModel
@using TomTomEcommerce.BackOffice

<h1><b>Products</b></h1>

<button class="btn btn-success" id="addproductbutton" style="margin-bottom:15px">Add New Product</button>


<div id="modaldiv">

</div>

<div id="secretajaxtable">

</div>



@section Scripts{
    <script>



        $(document).ready(function () {

            //List
            $.ajax({
                type: 'GET',
                url: '@Url.Page("/Catalog/Product", "ListProduct")',
                success: function (data) {
                    $("#secretajaxtable").html(data);
                }
            });

            //Add Product - Post
            $(document).on("click", "#addproductbuttonmodal", function (e) {
                e.preventDefault();
                var formData = $("#modal_form").serialize();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Page("/Catalog/Product", "AddProduct")',
                    data: formData,
                    success: function (data) {
                        $("#addproductviewid").modal("hide");
                        $("#secretajaxtable").html("");
                        $("#secretajaxtable").html(data);
                        toastr["success"]("New Product Added Successfully!", "Process Success")
                    }
                });


            });

            //Add Product- Get

            $("#addproductbutton").click(function () {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Page("/Catalog/Product", "AddProduct")',
                    success: function (data) {
                        $("#modaldiv").html(data);
                        $("#addproductviewid").modal("show");
                        $.validator.unobtrusive.parse($("#modaldiv"));
                        //    debugger;
                    }


                });
            });


            //Delete - Post
            $(document).on("click", "#deleteproductonmodal", function (e) {
                debugger;
                var id = $(this).attr("data-id");
                var token = '@HttpContext.GetAntiforgeryToken()';
                data = {};
                // data["__RequestVerificationToken"] = token;
                data["id"] = id;


                //  alert(id);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Page("/Catalog/Product", "DeleteProduct")',
                    data: { id: id },
                    success: function (data) {
                        $("#deleteproductmodal").modal("hide");
                        $("#secretajaxtable").html("");
                        $("#secretajaxtable").html(data);
                        toastr["warning"]("Product Deleted!", "Process Success")

                    },
                    error: function myfunction(a, b, c, d, e, f) {

                    },
                    headers:
                    {
                        "RequestVerificationToken": token
                    }

                });

            });
        });

    </script>
}