
asdadadadad
<div class="cart_area section_padding_100 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cart-table clearfix">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CartProducts)
                            {
                                <tr>
                                    <td class="cart_product_img d-flex align-items-center">
                                        <a href="#"><img src="img/product-img/@item.Product.ProductImages.FirstOrDefault().PathSmall" alt="@item.Product.Name"></a>
                                        <h6>@item.Product.Name</h6>
                                    </td>
                                    <td class="price"><span>$@item.Product.Price</span></td>
                                    <td class="qty">
                                        <div class="quantity">
                                            <span class="qty-minus"><i id="qty-minus_@item.Id" data-id="@item.Id" class="fa fa-@(item.Quantity == 1 ? "trash" : "minus")" aria-hidden="true"></i></span>
                                            <input class="qty-text" id="qty" step="1" min="1" max="99" name="quantity" value="@item.Quantity">
                                            <span class="qty-plus"><i id="qty-plus_@item.Id" data-id="@item.Id" class="fa fa-plus" aria-hidden="true"></i></span>
                                        </div>
                                    </td>
                                    @{ var total = item.Product.Price * item.Quantity;}
                                    <td class="total_price"><span>$@total</span></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="cart-footer d-flex mt-30">
                    <div class="back-to-shop w-50">
                        <a href="Shop">Continue shooping</a>
                    </div>
                    <div class="update-checkout w-50 text-right">
                        <a href="#" id="clearCart">clear cart</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="coupon-code-area mt-70">
                    <div class="cart-page-heading">
                        <h5>Cupon code</h5>
                        <p>Enter your cupone code</p>
                    </div>
                    <form action="#">
                        <input type="search" name="search" placeholder="#569ab15">
                        <button type="submit">Apply</button>
                    </form>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="shipping-method-area mt-70">
                    <div class="cart-page-heading">
                        <h5>Shipping method</h5>
                        <p>Select the one you want</p>
                    </div>

                    <div class="custom-control custom-radio mb-30">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label d-flex align-items-center justify-content-between" for="customRadio1"><span>Next day delivery</span><span>$4.99</span></label>
                    </div>

                    <div class="custom-control custom-radio mb-30">
                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label d-flex align-items-center justify-content-between" for="customRadio2"><span>Standard delivery</span><span>$1.99</span></label>
                    </div>

                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label d-flex align-items-center justify-content-between" for="customRadio3"><span>Personal Pickup</span><span>Free</span></label>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="cart-total-area mt-70">
                    <div class="cart-page-heading">
                        <h5>Cart total</h5>
                        <p>Final info</p>
                    </div>

                    <ul class="cart-total-chart">
                        @{
                            double totalPrice = 0;
                            foreach (var item in Model.CartProducts)
                            {
                                double cartProductTotal = item.Product.Price * item.Quantity;
                                totalPrice = totalPrice + cartProductTotal;
                            }
                        }

                        <li><span>Subtotal</span> <span>$@totalPrice</span></li>
                        <li><span>Shipping</span> <span>Free</span></li>
                        <li><span><strong>Total</strong></span> <span><strong>$@totalPrice</strong></span></li>
                    </ul>
                    <a href="Order" class="btn karl-checkout-btn">Proceed to Order</a>
                </div>
            </div>
        </div>
    </div>
</div>