@using TomTomEcommerce.BackOffice

@model TomTomEcommerce.BackOffice.Pages.Catalog.ProductModel
@{
}

<table class="table table-responsive-md table-striped table-bordered table-hover" cellspacing="0" width="100%">
    <thead style="text-align:center; margin-bottom:5px; background-color:lightskyblue">
        <tr>
            <th>
                <b>Id</b>
            </th>
            <th>
                <b>Name</b>
            </th>
            <th>
                <b>Description</b>
            </th>
            <th>
                <b>Brand</b>
            </th>
            <th>
                <b>Category</b>
            </th>
            <th>
                <b>Stock</b>
            </th>
            <th>
                <b>Price</b>
            </th>
            <th>
                <b>Document Path</b>
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody style="text-align:center">
        @foreach (var x in Model.listmodel)
        {
            <tr>
                <td>
                    @Html.DisplayFor(Model => x.Id)
                </td>
                <td>
                    @Html.DisplayFor(Model => x.Name)
                </td>
                <td>
                    @Html.DisplayFor(Model => x.Description)
                </td>
                <td>
                    @Html.DisplayFor(Model => x.Brand.Name)
                </td>
                <td>
                    @Html.DisplayFor(Model => x.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(Model => x.Stock)
                </td>
                <td>
                    @Html.DisplayFor(Model => x.Price)
                </td>
                <td>
                    @if (x.ProductImages != null)
                    {
                        @foreach (var item in x.ProductImages)
                        {
                            <a href="~/img/@item.PathSmall" target=”_blank”><img src="/img/@item.PathSmall" height="20px" /></a>
                        }
                    }
                    else
                    {
                        <a>No Photo View</a>
                    }

                </td>
                <td>
                    <a class="btn btn-primary btn-sm" id="editbutton_@x.Id" data-id="@x.Id">Edit</a>
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" id="deletebutton_@x.Id" data-id="@x.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>

    $(document).ready(function () {


//Edit Product- Get

        $('[id^=editbutton]').click(function () {
            var id = $(this).attr("data-id");
            $.ajax({
                type: 'GET',
                url: '@Url.Page("/Catalog/Product", "EditProduct")',
                data: { id: id },
                success: function (data) {
                    $("#modaldiv").html(data);
                    $("#editproductviewid").modal("show");
                }
            });
        });




//GET - DELETE PRODUCT

        $('[id^=deletebutton]').click(function () {
            var id = $(this).attr("data-id");
            //alert(id);
            $.ajax({
                type: 'GET',
                url: '@Url.Page("/Catalog/Product", "DeleteProduct")',
                data: { id: id },
                success: function (data) {
                    $("#modaldiv").html("");
                    $("#modaldiv").html(data);
                    $("#deleteproductmodal").modal("show");
                }
            });
        });



    });


</script>